.list {
  margin-block: 40px;
  width: 100%;
  color: #333;
  font-size: 1.6rem;
  background-color: #fffaf5;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.list p:first-child {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #444;
}

.list-table {
  width: 100%;
  border: 1px solid #ecd8c4;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fffdfb;
}

.list-table-format {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
  align-items: center;
  padding: 12px 15px;
  border-bottom: 1px solid #ead6c8;
  color: #444;
  font-size: 1.4rem;
  background-color: #fff9f2;
}

.list-table-format.title {
  background-color: var(--theme-color);
  color: white;
  font-weight: 600;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.list-table-format img {
  width: 50px;
  border-radius: 6px;
}

.list-table-format img,
.list-table-format p,
.title p {
  text-align: center;
}

.cursor {
  cursor: pointer;
  color: #ff4c4c;
  font-weight: bold;
  transition: transform 0.2s ease, color 0.2s ease;
}
.cursor:hover {
  transform: scale(1.2);
  color: #d80000;
}

/* Responsive */
@media (max-width: 750px) {
  .list-table-format {
    grid-template-columns: 1fr 2fr 1fr;
    font-size: 1.2rem;
  }

  .list-table-format.title {
    display: none;
  }

  .list-table-format p:nth-child(2),
  .list-table-format p:nth-child(3),
  .list-table-format p:nth-child(4) {
    display: none;
  }

  .list {
    padding: 20px;
    font-size: 1.4rem;
  }
}
